
@{
    ViewBag.Title = "Cập nhật phiếu nhập bò";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 col-xs-12">

        <form id="form_action" method="post" role="form">
            <div class="text-center">
                <h3><i class="fa fa-weixin" aria-hidden="true"></i> Chỉnh sữa phiếu nhập</h3>
                <hr class="mt-2 mb-2">
            </div>
            <p id="error" class="text-danger text-center"></p>

            <div class="md-form form-sm">
                <i class="fa fa-github-alt prefix" aria-hidden="true"></i>
                <input id="soluong" class="form-control" type="number" value="0" min="0" step="1" required />
                <label for="soluong">Số Lượng</label>
            </div>

            <div class="md-form">
                <i class="fa fa-calendar prefix"></i>
                <input type="text" id="ngaynhap" name="ngaynhap" class="form-control datepicker" data-value="@(DateTime.Now.ToShortDateString())" placeholder="" required>
                <label for="ngaynhap">Ngày nhập</label>
            </div>

            <div class="col-xs-12">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="btn-group w-100">
                            <button id="btnSelectProvider" class="btn btn-primary w-100" type="button"></button>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="btn-group w-100">
                            <button id="btnSelectAgency" class="btn btn-primary w-100" type="button"></button>
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Lưu <i id="loader" class="fa fa-circle-o-notch fa-pulse fa-lg fa-fw"></i></button>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Thoát</button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                <h4 class="modal-title w-100">Thoát</h4>
                            </div>
                            <div class="modal-body text-center">
                                Bạn thực sự muốn thoát?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                <a class="btn btn-danger" href="@Url.Action("Index")">Đồng ý</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    $(document).ready(function () {
        callAjax('post',
            { Token: Cookies.get("token"), machungtu: '@ViewBag.machungtu' },
                Cookies.get("area"), "import_export", "PhieuNhapBo/getSingle",
                function (result) {
                    if (result.IsError) {
                        toastr["error"](result.Errors[0]);
                        $("#error").show();
                        $("#error").text(result.Errors[0]);
                    }
                    else if (result.Data) {
                        $("#soluong").val(result.Data.soluong);
                        $("#ngaynhap").val(result.Data.ngaynhap);

                        //get provider
                        callAjax('post',
                            { Token: Cookies.get("token"), Predicates: [result.Data.mancc] },
                            Cookies.get("area"), "management", "NhaCungCap/getSingle",
                            function (result) {
                                if (result.IsError) {
                                    toastr["error"](result.Errors[0]);
                                    $("#error").show();
                                    $("#error").text(result.Errors[0]);
                                }
                                else if (result.Data) {
                                    $("#btnSelectProvider").html(result.Data.ten + ' (' + result.Data.manhacungcap + ')');
                                }
                            });

                        //get agency
                        callAjax('post',
                            { Token: Cookies.get("token"), Predicates: [result.Data.macn] },
                            Cookies.get("area"), "management", "ChiNhanh/getSingle",
                            function (result) {
                                if (result.IsError) {
                                    toastr["error"](result.Errors[0]);
                                    $("#error").show();
                                    $("#error").text(result.Errors[0]);
                                }
                                else if (result.Data) {
                                    $("#btnSelectAgency").html(result.Data.tenchinhanh + ' (' + result.Data.machinhanh + ')');
                                }
                            });
                    }
                });

        $('#form_action').submit(function (e) {
            e.preventDefault();
            callAjax('post',
                {
                    Token: Cookies.get('token'),
                    Data: {
                        ngaynhap: $('input[name=prefix_ngaynhap_submit]').val(),
                        soluong: $('#soluong').val(),
                        machungtu: '@ViewBag.machungtu'
                    }
                },
                Cookies.get('area'), 'import_export', 'PhieuNhapBo/update',
                function (data) {
                    if (data.IsError) {
                        toastr["error"](data.Errors[0]);
                        $("#error").show();
                        $("#error").text(data.Errors[0]);
                    }
                    else {
                        toastr["success"](data.Data);
                        $('#form_action')[0].reset();
                    }
                });
        })

    });
    </script>
}